<div class="add-post">
  <div class="input-wrap">
    <input type="text" />
  </div>
  <div class="post-options">
    <div class="options">
      <div class="option__item">
        {{{getIcon "image"}}}
      </div>
      <div class="option__item">
        {{{getIcon "sentiment_satisfied"}}}
      </div>
      <div class="option__item">
        {{{getIcon "event"}}}
      </div>
      <div class="option__item">
        {{{getIcon "image"}}}
      </div>
      <div class="option__item">
        {{{getIcon "sentiment_satisfied"}}}
      </div>
    </div>
    <div class="publish-btn">
      <button> Publish Post </button>
    </div>
  </div>
</div>