<div class="menu">
  <div class="header">
    <div class="header__img">
      <img src="assets/images/ellips.png" alt="" />
    </div>
    <div class="header-arrow">
      {{{getIcon "arrow_forward_ios"}}}
    </div>
  </div>

  <div class="items">
    <div class="items__icon items__icon--active">
      {{{getIcon "home"}}}
    </div>
    <div class="items__icon">
      {{{getIcon "notifications"}}}
    </div>
    <div class="items__icon">
      {{{getIcon "inbox"}}}
    </div>
    <div class="items__icon">
      {{{getIcon "inbox"}}}
    </div>
    <div class="items__icon">
      {{{getIcon "person"}}}
    </div>
    <div class="items__icon">
      {{{getIcon "settings"}}}
    </div>
  </div>
</div>